# [Comment-202603263]
# Similar file system entries are listed in multiple places.
# todo-2? Maybe replace this comment with similar comments for each folder, like Comment-202603122.
# todo-2 Some entries below have comments near them. Make the comments numbered and reference them in other places.
# [/Comment-202603263]

# A correct way to ignore a file:
# /File.txt
# !/File.txt/
# !/File.txt/**
# todo-2 But ask Google and retest the above.

# /package-lock.json
/node_modules/

# Comment-202603122 applies.
/dist/

# # [Comment-202603261]
# # pnpm deploy output.
# # [/Comment-202603261]
# /bundle/

# Python virtual environment.
# todo-2 Note that Python 3.13+ by default creates a .gitignore file within the virtual environment,
# todo-2 which causes the entire directory to be ignored by Git.
# todo-2 So when I get Python 3.13+, delete this entry from here.
# todo-2 Or maybe only comment it out and explain things in a comment.
/.venv/

# Hardhat compilation support directory.
/cache/

# Hardhat Build Artifacts.
/artifacts/

# Typechain output.
/types/

/slither/reports/
/solhint/reports/
/typescript/reports/
/eslint/reports/

# # Hardhat gas snapshot files.
# # [Comment-202604207]
# # Delete this manually. Do not commit this to the Git repo.
# # [/Comment-202604207]
# /.gas-snapshot/

# # Hardhat Solidity code coverage reports.
# # Comment-202604207 applies.
# /coverage/

# # Hardhat Ignition default folder for deployments against an out-of-process Hardhat node.
# # It's Git-ignored by default in a Hardhat 2-generated project, but not in Hardhat 3.
# # Comment-202604207 applies.
# /ignition/deployments/chain-31337/
