# [Comment-202603263]
# Similar folders are listed in multiple places.
# [/Comment-202603263]

/node_modules

# Comment-202603122 applies.
/dist

# [Comment-202603261]
# pnpm deploy output.
# [/Comment-202603261]
/bundle

# Python virtual environment.
# todo-2 Note that Python 3.13+ by default creates a .gitignore file within the virtual environment,
# todo-2 which causes the entire directory to be ignored by Git.
# todo-2 So when I get Python 3.13+, delete this entry from here.
# todo-2 Or maybe only comment it out and explain things in a comment.
/.venv

# Hardhat compilation support directory.
/cache

# Hardhat Build Artifacts.
/artifacts

# Typechain output.
/types

/slither/reports
/solhint/reports
/eslint/reports

# Hardhat coverage reports.
/coverage

# Hardhat Ignition default folder for deployments against an out-of-process Hardhat node.
# Issue. I've added this folder. It's Git-ignored by default in a Hardhat 2-generated project.
# They could have forgotten to include it in Hardhat 3.
/ignition/deployments/chain-31337
